.heading {
  margin-top: 20px;
  font-size: 1.5em;
}

.dispensing-btn {
  width: 100%;
  color: white;
  background-color: #3269ea;
  margin-top: 20px;
}

.machine-state-divider {
  margin-top: 10px;
}

.machine-state-value {
  font-weight: 600;
}

.error {
  color: #f0506e;
}
